@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: #f2f0eb;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(222, 226, 230);
    position: sticky;
    padding: 15px 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-right .input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-left img {
    height: 40px;
}

.nav-left span {
    font-size: clamp(12px, 1vw, 18px);
    font-weight: 400;
    color: rgb(0, 117, 74);
    cursor: pointer;
}

.input input {
    padding: 10px;
    width: 100%;
    min-width: 230px;
    border-radius: 20px;
    color: #212529;
    background-color: #fff;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.Profile img {
    height: 30px;
}

#nav-logochange-layout {
    display: none;
}

.block-welcome {
    display: flex;
    align-items: center;
    gap: 10px;
}

.block-welcome .first {
    font-size: clamp(12px, 2vw, 16px);
    color: #6b6b6b;
    display: block;
}

.block-welcome .second {
    font-size: clamp(13px, 2vw, 17px);
    color: #1e3932;
    display: block;
}

#nav-change-layout {
    display: none;
}

.nav-block-left {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 14px;
    white-space: nowrap;
}

.nav-block-left span {
    font-size: clamp(9px, 2vw, 12px);
    font-weight: 400;
    color: rgb(0, 117, 74);
}

.hidden-search {
    display: none;
}

@media (max-width:880px) {
    .nav-left span {
        display: none;
    }

    #nav-change-layout {
        display: block;
    }

    #nav-logochange-layout {
        display: block;
    }

    .nav-left .main-img {
        display: none;
    }

    .nav {
        background: #e8e8e8;
        box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a
    }
}

@media (max-width:590px) {
    .nav-right .input {
        display: none;
    }

    .nav {
        padding: 15px 18px;
    }

    .Profile img {
        height: 22px;
    }

    .hidden-search {
        display: block;
        height: 18px;
    }
}

.nav-footer {
    width: 100%;
    margin-top: 4px;
    padding: 20px;
    background-color: #1e3932;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-footer-left {
    color: #f9f9f9;
    font-size: clamp(10px, 1.2vw, 14px);
}

.nav-footer-right button {
    padding: 0.6em 1.1em;
    border-radius: 30px;
    font-weight: 500;
    font-size: clamp(10px, 1.2vw, 14px);
    border: 0px solid #f9f9f9;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    cursor: pointer;
}

.hero {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    position: relative;
    padding: 12px;
}

.background-img img {
    width: 100%;
    border-radius: 6px;
}

.bg-items-left img {
    height: clamp(90px, 15vw, 210px);
}


.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    inset: 0;
    padding-inline: 20px;
    justify-content: space-between;
}

.bg-items-left {
    display: flex;
    align-items: center;
    gap: clamp(6px, 2vw, 25px);
}

.bg-items-column {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 1vw, 19px);
}

.bg-items-column h3 {
    font-size: clamp(8px, 2vw, 20px);
    font-weight: 600;
}

.bg-items-column p {
    font-size: clamp(6px, 1.3vw, 14px);
    font-weight: 400;
}

.btn {
    align-self: end;
    margin-bottom: 30px;
}

.btn button {
    color: #fff;
    background-color: #00754a;
    padding: 1.3em 4.7em;
    border-radius: 30px;
    border: none;
    font-size: clamp(9px, 1vw, 12px);
    font-weight: 400;
}

@media (max-width:531px) {
    .btn button {
        padding: 7px 19px;
        font-size: 6px;
    }
}

@media (max-width:360px) {
    .btn button {
        padding: 4px 9px;
        font-size: 5px;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: clamp(15px, 4vw, 40px) 20px;
}

.container-elements-image img {
    height: clamp(60px, 15vw, 108px);
    border-radius: 50%;
    cursor: pointer;
}

.container-elements {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.container-elements-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.container-elements-image h4 {
    font-size: clamp(10px, 3vw, 14px);
    font-weight: 400;
}

.container-title h3 {
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-card-container {
    /* background-color: red; */
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: clamp(15px, 4vw, 40px) 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-card {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 4px #00000014;
}

.hero-card-top {
    display: flex;
    gap: 12px;
    align-items: center;
}

.hero-card-top .card-coffee {
    border-radius: 50%;
    height: 80px;
}

.hero-card-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}

.inner-title {
    display: flex;
    flex-direction: column;
}

.hero-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-card-heading h4 {
    color: #00754a;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #00754a;
    cursor: pointer;
}

.inner-title .first {
    font-size: 11px;
    color: #000;
    font-weight: 600;
}

.inner-title .second {
    font-size: 10px;
    color: #7F8286;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.hero-card-bottom span {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

.hero-card-bottom button {
    background-color: #00754a;
    color: #fff;
    font-size: clamp(16px, 2vw, 24px);
    line-height: 1;
    border: none;
    cursor: pointer;
    padding: 4px 7px 3px;
    font-weight: 500;
    transition: background-color .2s ease, opacity .2s ease;
    border-radius: 50%;
}

.footer-hero-container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: #fff;
}

.footer-hero-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.bottom-img {
    width: 100%;
    position: relative;
}

.bottom-img img {
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
}

.bottom-Overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.bottom-Overlay:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.overlay-items-top {
    padding: 20px;
}

.overlay-items-bottom {
    padding: 20px 20px 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.overlay-items-top button {
    color: #00754a;
    background-color: #e6edeb;
    border: none;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 9px;
    font-weight: 600;
}

.footer-hero-top .top-right {
    font-size: clamp(14px, 3vw, 24px);
    font-weight: 700;
}

.footer-hero-top .top-left {
    font-size: clamp(7px, 2vw, 13px);
    font-weight: 600;
    cursor: pointer;
}

.items-top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.items-top h3 {
    font-size: clamp(18px, 3vw, 28px);
    font-weight: 500;
}

.items-top p {
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 400;
}


.items-bottom button {
    padding: 8px 50px;
    color: #000;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

@media (max-width:450px) {
    .items-bottom button {
        padding: 4px 20px;
        font-size: 9px;
    }

    .overlay-items-top button {
        padding: 2px 4px;
        font-size: 7px;
    }
}

.hero-last-scean p {
    color: #000000de;
    font-weight: 400;
    font-size: clamp(8px, 2vw, 15px);
    opacity: 0.7;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    text-align: center;
    padding: 40px;
}